<!-- Form event start -->
<%= form_with(model: @event, local: true) do |f| %>
<!-- Form event end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for starts_at start -->
  <div class="form-group">
    <%= f.label :starts_at %>
    <!-- Input for starts_at start -->
    <%= f.datetime_select :starts_at, class: "form-control" %>
    <!-- Input for starts_at end -->
  </div>
  <!-- Label and input for starts_at end -->

  <!-- Label and input for ends_at start -->
  <div class="form-group">
    <%= f.label :ends_at %>
    <!-- Input for ends_at start -->
    <%= f.datetime_select :ends_at, class: "form-control" %>
    <!-- Input for ends_at end -->
  </div>
  <!-- Label and input for ends_at end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <%= f.submit "Create event", class: "btn btn-block btn-outline-secondary" %>
<% end %>
