<div class="card mb-3">
  <div class="d-flex justify-content-center">
    <%= cl_image_tag @event.photo, class: "card-img-top" %>
  </div>
  <div class="card-body">
    <div class="h5">
      <i class="fas fa-calendar-times"></i>
      <%= event.name %>
    </div>
    <dl class="mb-1">




      <div>
        <i class="far fa-clock"></i>
        <%= event.starts_at.strftime("%A, %B %-d, %Y at %-l:%M %p") %> - <%= event.ends_at.strftime("%A, %B %-d, %Y at %-l:%M %p") %>
      </div>

      <p class="text-muted">
        <% if event.user.present? %>
          Hosted by <%= link_to event.user, event.user %>
        <% end %>
      </p>

      <hr>
      <div>
        <i class="fas fa-map-marker-alt"></i>
        <%= event.address %>
      </div>
      <dt>Location</dt>
      <dd>
        <div>
          <%= render partial: "events/one_photo_map" %>
        </div>
      </dd>
    </dl>

  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(event.updated_at) %> ago
  </div>
</div>

<div class="card">
  <div class="card-header">
    Details
  </div>
  <div class="card-body">
    <p><%= event.details %></p>
  </div>
</div>
