<%= search_form_for @q, :class => "", :id => "events_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :starts_at, "Starts at" %>


    <div class='input-group date mb-3' id='starts_atgteqPicker' data-target-input="nearest">
      <%= f.text_field :starts_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Starts at greater than or equal to", :data => {:target => '#starts_atgteqPicker'} %>
      <div class="input-group-append" data-target='#starts_atgteqPicker' data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>

    <div class='input-group date' id='starts_atlteqPicker' data-target-input="nearest">
      <%= f.text_field :starts_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Starts at less than or equal to", :data => {:target => '#starts_atlteqPicker'} %>
      <div class="input-group-append" data-target='#starts_atlteqPicker' data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>


  </div>
  <script type="text/javascript">
      $(function () {
          $('#starts_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#starts_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#starts_atgteqPicker').on("dp.change", function (e) {
              $('#starts_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#starts_atlteqPicker').on("dp.change", function (e) {
              $('#starts_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/events" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>


