<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Comments

    <a data-toggle="collapse" href="#event_comments_new_form">
      Add comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @event.comments.each do |comment| %>
      <li class="media py-4 mx-1 border-top pl-3">
        <div class="media-body">
          <div class="d-flex">
            <h5 class="mt-1"><%= comment.user.full_name %></h5>
          </div>
          <div class="d-flex justify-content-between">
            <p><%= comment.body %></p>

            <% if current_user == comment.user %>
              <div class="d-flex">
                <%= link_to edit_comment_url(comment), class: "mr-4" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to comment, class: "mr-4", method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="event_comments_new_form">
        <%= render partial: "events/event_comments_new_form" %>
      </div>
    </div>

  </ul>
</div>
