<%= form_with(model: @interest_level, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :level %>

    <%= f.select :level, options_for_select(InterestLevel.levels.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :event_id, value: @event.id %>

  <%= f.submit "Create interest level", class: "btn btn-block btn-outline-secondary" %>
<% end %>
