<%= form_with(model: @attendance, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :attending %>

    <%= f.select :attending, options_for_select(Attendance.attendings.keys), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :event_id, value: @event.id %>

  <%= f.submit "Create attendance", class: "btn btn-block btn-outline-secondary" %>
<% end %>
