<% was_validated = attendance.errors.any? %>

<%= form_with(model: attendance, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for attending start -->
  <div class="form-group">
    <% attending_class = "form-control" %>
    <% attending_was_invalid = attendance.errors.include?(:attending) %>

    <% if was_validated %>
      <% if attending_was_invalid %>
        <% attending_class << " is-invalid" %>
      <% else %>
        <% attending_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :attending %>
    <!-- Input for attending start -->
    <%= f.number_field :attending, class: attending_class, placeholder: "Enter attending" %>
    <!-- Input for attending end -->
    <% if attending_was_invalid %>
      <% attendance.errors.full_messages_for(:attending).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for attending end -->
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = attendance.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% attendance.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for event_id start -->
  <div class="form-group">
    <% event_class = "form-control" %>
    <% event_was_invalid = attendance.errors.include?(:event) %>

    <% if was_validated %>
      <% if event_was_invalid %>
        <% event_class << " is-invalid" %>
      <% else %>
        <% event_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_id %>
    <!-- Input for event_id start -->
    <%= f.number_field :event_id, class: event_class, placeholder: "Enter event" %>
    <!-- Input for event_id end -->
    <% if event_was_invalid %>
      <% attendance.errors.full_messages_for(:event).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for event_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
